<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Classification - Human Expression</title>
    <link rel="stylesheet" href='/static/style.css' />

</head>
<body>
    <div class="container">
        <div class="left-half">
            <h3>EMOTION CLASSIFIER</h3>
            <p>This is a classifier made to classify if the person in the image is happy or sad.</p>
        </div>
        <div class="right-half">
            <form method="POST" action="/upload" enctype="multipart/form-data">
                <input type="file" name="image">
                <button type="submit">Upload</button>
            </form>
            <div id="image-preview">
                {% if image_path %}
                <img src="{{ image_path }}" alt="Uploaded Image">
                <p>{{ prediction }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        function previewImage(event) {
            const imagePreview = document.getElementById('image-preview');
            imagePreview.innerHTML = ''; // Clear any previous content
            const imgElement = document.createElement('img');
            imgElement.src = URL.createObjectURL(event.target.files[0]);
            imagePreview.appendChild(imgElement);
        }
    </script>
</body>
</html>