<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Classification - Human Expression</title>
    <link rel="stylesheet" href='/static/style.css' />

</head>
<body>
    <h1>Image Classifier: Happy or Sad?</h1>

    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="image">
        <button type="submit">Upload</button>
    </form>

    {% if prediction %}
        <h2>Prediction: {{ prediction }}</h2>
        <img src="{{ image_path }}" alt="Uploaded Image" style="max-width: 300px;">
    {% endif %}
</body>
</html>

