body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0; /* Light background color for contrast */
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.left-half, .right-half {
    width: 50%;
    padding: 20px;
    box-sizing: border-box; /* Ensure padding doesn't affect the width */
}

.left-half {
    background-color: rgb(119, 119, 168);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
}

.left-half h3 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.left-half p {
    font-size: 1.2em;
}

.right-half {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#file-input {
    margin-bottom: 20px;
}



#image-preview p {
    font-size: 1.2em;
    margin-top: 10px;
}

#image-preview img {
    max-width: 80%; /* Adjust percentage as needed */
    max-height: 400px; /* Set a maximum height to control the image size */
    height: auto; /* Maintain aspect ratio */
    margin-top: 20px;
}
